body {
  background-color: rgb(73, 19, 198);
 }
 
  header {
  border-style: dotted;
  border-color: blue;
  color: rgb(43, 230, 230);
  font-size: 50px;
  font-weight: bold;
  font-family: Georgia;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
  }
 
h2 {
  color: rgb(179, 148, 242);
  font-size: 40px;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  color: rgb(43, 230, 230);
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-bottom: 10px;
  text-align: center;
}

 div {
   float: left;
   width: 33%;
   box-sizing: border-box;
   margin-bottom: 10px;
 }

img {
  float: left;
  width: 100%;
  height: 33vw;
}

.starbag {
  margin-left: auto;
}

.rboots {
 margin-left: auto;
}

.multipen {
  margin-left: auto;
}

section:first-of-type {
  position: relative;
  overflow: hidden;
}

section:first-of-type > p {
  float:left;
  font-size: 25px;
  margin: 0 30px;
  position: absolute;
}

p {
  color: rgb(179, 148, 242);
  font-size: 30px;
  text-align: center;
  font-family: Arial;
}